<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="../home">Indicadores</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="../home">Home</a>
            </div>
        </div>
    </div>
</nav>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Activo</th>
            <th scope="col"></th>
            <th scope="col">Informe</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mark</td>
            <td></td>
            <td>
                <a class="text-decoration-none" href="../details">i</a>
            </td>
        </tr>
        <tr>
            <td>Mark</td>
            <td></td>
            <td>
                <a class="text-decoration-none" href="../details">i</a>
            </td>
        </tr>
        <tr>
            <td>Mark</td>
            <td></td>
            <td>
                <a class="text-decoration-none" href="../details">i</a>
            </td>
        </tr>
        <tr>
            <td>Mark</td>
            <td></td>
            <td>
                <a class="text-decoration-none" href="../details">i</a>
            </td>
        </tr>
        <tr>
            <td>Mark</td>
            <td></td>
            <td>
                <a class="text-decoration-none" href="../details">i</a>
            </td>
        </tr>
        <tr>
            <td>Mark</td>
            <td></td>
            <td>
                <a class="text-decoration-none" href="../details">i</a>
            </td>
        </tr>
        <tr>
            <td>Mark</td>
            <td></td>
            <td>
                <a class="text-decoration-none" href="../details">i</a>
            </td>
        </tr>
        <tr>
            <td>Mark</td>
            <td></td>
            <td>
                <a class="text-decoration-none" href="../details">i</a>
            </td>
        </tr>
        <tr>
            <td>Mark</td>
            <td></td>
            <td>
                <a class="text-decoration-none" href="../details">i</a>
            </td>
        </tr>
        <tr>
            <td>Mark</td>
            <td></td>
            <td>
                <a class="text-decoration-none" href="../details">i</a>
            </td>
        </tr>
        <tr>
            <td>Mark</td>
            <td></td>
            <td>
                <a class="text-decoration-none" href="../details">i</a>
            </td>
        </tr>
        <tr>
            <td>Mark</td>
            <td></td>
            <td>
                <a class="text-decoration-none" href="../details">i</a>
            </td>
        </tr>
        <tr>
            <td>Mark</td>
            <td></td>
            <td>
                <a class="text-decoration-none" href="../details">i</a>
            </td>
        </tr>
        <tr>
            <td>Mark</td>
            <td></td>
            <td>
                <a class="text-decoration-none" href="../details">i</a>
            </td>
        </tr>
        <tr>
            <td>Mark</td>
            <td></td>
            <td>
                <a class="text-decoration-none" href="../details">i</a>
            </td>
        </tr>
        <tr>
            <td>Mark</td>
            <td></td>
            <td>
                <a class="text-decoration-none" href="../details">i</a>
            </td>
        </tr>
        <tr>
            <td>Mark</td>
            <td></td>
            <td>
                <a class="text-decoration-none" href="../details">i</a>
            </td>
        </tr>
        <tr>
            <td>Mark</td>
            <td></td>
            <td>
                <a class="text-decoration-none" href="../details">i</a>
            </td>
        </tr>
    </tbody>
</table>